
		#logo{
			  max-width: 50px;
	   		 max-height: 50px;
	   		 margin-top: -10px
		}
		.navbar .navbar-nav {
	    display: inline-block;
	    float: none;
		}
	
		html, body { padding: 0; margin: 0;}

		body { padding: 20px; }


		 .myContainer {
		        width: 266px;
		        height: 400px;
		        float: left;
		        margin: 10px;
		        text-align: center;
		        position: relative;
		        border-radius: 4px;
       		    margin-bottom: 14px;

		    }
		.myImage img {

		        width: 266px;
		        height: 400px;
		       	border-radius: 4px;

		}
		.myContainer img {
		           display:inline;
		 }
		 .myDiv{
		    padding: 8px 18px;

		 }
		.caption {
		    display: block;
		}
		.smallAvatar{
			max-width: 80px;
    		display: block;
    		margin: 0 auto;
		}

		.media{
			margin-top: 10%;
			margin-bottom: 10%;
		}
		.media img{
				margin-top: 10%;
				margin-left: 10%;

		}
		.media-info{
				margin-top: 10%;
				margin-right: 20%;
		}
		
		#favouriteButton{
			margin-bottom: 3%;
		}